body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;  /* White background color */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;  /* Make logo area flexible for responsiveness */
}

.logo img {
  max-width: 150px;  /* Set a maximum width for the logo */
}

nav {
  flex: 3;  /* Make navigation area more flexible */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;  /* Dark gray text for navigation links */
  font-weight: bold;
}

.user-account {
  flex: 1;  /* Make user account area flexible */
  text-align: right;
}

.user-account a {
  margin-left: 10px;
  color: #333;  /* Dark gray text for user account links */
  font-weight:
